.inputContainer {
  width: 90%;
  height: 50px;
  padding: 10px 5px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.inputBox {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 800;
}
.inputBtn {
  padding: 5px;
  background-color: #282c37;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
}
