.tdContainer {
  width: 50%;
  height: 95%;
  padding: 30px 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, white 0px 4px 6px, white 0px 12px 13px,
    white 0px -3px 5px;
}
.tdTitle {
  width: fit-content;
  padding: 20px;
  border-radius: 20px;
  background-color: #282c37;
  color: white;
}
.tdListBox {
  width: 95%;
  height: 100%;
  padding: 20px;
  border: 3px solid #1d1d1f;
  border-radius: 10px;
  position: relative;
}
.tdLists {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listBtn {
  padding: 5px 10px;
  font-weight: 800;
  color: white;
  background-color: #282c37d0;
  border-radius: 10px;
}
